<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h1><a href="{% url 'index' %}">聊天机器人 Chatbot_CN</a></h1>
                <h3>登录</h3>
                <form class="form" action="{% url 'do_login' %}" method="post">
                    {% csrf_token %}
                    {% comment %}{{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endfor %}{% endcomment %}
                    <label for="username">用户名：</label>
                    <input id="username" type="text" name="username" value="{{ username }}"><br/>
                    <label for="password">密码：</label>
                    <input id="password" type="password" name="password" value="{{ password }}"><br/>

                    <button type="submit" class="btn btn-primary btn-block">登录</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
                <div class="flex-left top-gap text-small">
                    <div class="unit-2-3"><span>没有账号？<a href="{% url 'register' %}">立即注册</a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>