<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        a{text-decoration: none}
    </style>
</head>
<body>
{% if registError %}
{{ registError }}
{% endif %}
{% if Method == 'GET' %}
    <form method ="post">
        {% csrf_token %}

        {{uf.as_p}} <!-- 按照 p 标签格式显示-->
        <input type="submit" name="regist" value="注册">
        <br>
        <a href="http://127.0.0.1:8000/login/">我已有账号,去登陆</a>
    </form>
{% else %}
    {% if name %}
        {{ name }} 注册成功!
        <br>
        <a href="http://127.0.0.1:8000/login/">去登陆</a>
    {% elif registJudge %}
        {{ registJudge }} 用户已经存在请重新注册!
        <br>
        <a href="http://127.0.0.1:8000/regist/">返回重新注册</a>
    {% endif %}
    <br>
    <a href="http://127.0.0.1:8000/regist/">返回重新注册</a>
{% endif %}
</body>
</html>