<div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> 找不到页面.</h3>

        <p>
          系统出现错误，请联系管理员 <a href="#/" style="font-size: 12px">返回首页</a>
        </p>

       <!-- <form class="search-form">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search">

                <div class="input-group-btn">
                    <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            &lt;!&ndash; /.input-group &ndash;&gt;
        </form>-->
    </div>
    <!-- /.error-content -->
</div>
<!-- /.error-page -->