<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="../static/js/lib/jquery-3.3.1.min.js"></script>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
        <!-- Custom styles for this template -->
        <!--link href="../signin.css" rel="stylesheet"-->
        <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
    </head>

    <!--
    <body>
    <p style="align-content: center">欢迎来到聊天机器人管理后台 {{ username }}</p>
        {% if not username %}
            <div></div>
            <div><a href='http://127.0.0.1:8000/login/'>登录</a></div>
            <div><a href='http://127.0.0.1:8000/regist/'>注册</a></div>
        {% else %}

            <div><a href='http://127.0.0.1:8000/logout/'>退出登录</a></div>
        {% endif %}
    </body> -->
    <body>
        <div class="container">
        <form class="form-signin" action="/login_action/" method="post">
            <h2 class="form-signin-heading">用户登录</h2>
            <label for="inputUsername" class="sr-only">username</label>
            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="username" required autofocus>
            <label for="inputPassword" class="sr-only">password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn">登录</button>
                {{wronglyInput}}<br>
                {% csrf_token %}
        </form>


        </div>


    </body>


</html>